.env
.venv/
venv/
.DS_Store
/backend/app/__pycache__
/backend/app/core/__pycache__
/backend/app/api/__pycache__
/backend/app/api/routes/__pycache__
/data/raw
/backend/app/database/__pycache__
/backend/app/models/__pycache__
/backend/app/schemas/__pycache__
/data/processed
/backend/pipeline/__pycache__
